<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Política de Privacidade - PyDenExpress</title>
    <meta content="Política de Privacidade do sistema PyDenExpress" name="description">
    <meta content="Política de Privacidade, PyDenExpress" name="keywords">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <i class="bi bi-list toggle-sidebar-btn"></i>
        <div class="d-flex align-items-center justify-content-between">
            <a href="/dashboard-escolar" class="logo d-flex align-items-center">
                <img src="/img/logo.png" alt="">
            </a>
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item dropdown pe-3">
                    <a id="profile-link" class="nav-link nav-profile d-flex align-items-center pe-0" href="#"
                        data-bs-toggle="dropdown">
                        <img id="profile-image" src="/img/user.png" alt="Foto de Perfil" class="rounded-circle">
                        <span id="usuarioNome" class="d-none d-md-block dropdown-toggle ps-2"></span>
                    </a><!-- End Profile Image Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/users-profile">
                                <i class="bi bi-person"></i>
                                <span>Meu Perfil</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/users-profile">
                                <i class="bi bi-gear"></i>
                                <span>Configurações de Conta</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/faq">
                                <i class="bi bi-question-circle"></i>
                                <span>Ajuda</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#" id="logout-link">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sair</span>
                            </a>
                        </li>
                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">
            <!-- Navigation items here -->
        </ul>

    </aside><!-- End Sidebar-->


    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Política de Privacidade</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard-escolar"><i class="bi bi-house"></i></a></li>
                    <li class="breadcrumb-item active">Política de Privacidade</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Política de Privacidade do PyDenExpress</h5>
                            <p>Última atualização: 22 de julho de 2024</p>

                            <p>Bem-vindo ao PyDenExpress. Esta Política de Privacidade descreve como coletamos, usamos,
                                divulgamos e protegemos suas informações quando você usa nosso sistema de gerenciamento
                                de pessoal, transporte escolar, administrativo e financeiro.</p>

                            <h6>1. Coleta de Informações</h6>
                            <p>Coletamos informações que você nos fornece diretamente, como quando você cria uma conta,
                                atualiza seu perfil ou utiliza nossos serviços. As informações podem incluir seu nome,
                                endereço de e-mail, número de telefone, informações de pagamento e outras informações
                                pessoais.</p>

                            <h6>2. Uso das Informações</h6>
                            <p>Usamos as informações coletadas para fornecer, manter e melhorar nossos serviços,
                                processar transações, enviar notificações, oferecer suporte ao cliente e personalizar a
                                experiência do usuário.</p>

                            <h6>3. Compartilhamento de Informações</h6>
                            <p>Não compartilhamos suas informações pessoais com terceiros, exceto conforme necessário
                                para fornecer nossos serviços, cumprir a lei, proteger nossos direitos ou conforme
                                descrito nesta Política de Privacidade.</p>

                            <h6>4. Segurança das Informações</h6>
                            <p>Implementamos medidas de segurança para proteger suas informações contra acesso não
                                autorizado, alteração, divulgação ou destruição. No entanto, nenhuma transmissão pela
                                Internet ou método de armazenamento eletrônico é 100% seguro.</p>

                            <h6>5. Seus Direitos</h6>
                            <p>Você tem o direito de acessar, corrigir ou excluir suas informações pessoais. Para
                                exercer esses direitos, entre em contato conosco através das informações fornecidas
                                abaixo.</p>

                            <h6>6. Alterações nesta Política de Privacidade</h6>
                            <p>Podemos atualizar esta Política de Privacidade periodicamente. Notificaremos você sobre
                                quaisquer alterações publicando a nova Política de Privacidade em nosso site.
                                Recomendamos que você revise esta política regularmente.</p>

                            <h6>7. Contato</h6>
                            <p>Se você tiver dúvidas ou preocupações sobre esta Política de Privacidade, entre em
                                contato conosco através do e-mail suporte@pydenexpress.com.</p>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="container">
            <div class="row gy-4">
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyright">
                                &copy; Direitos Autorais <strong><span>PyDenExpress</span></strong>. Todos os Direitos
                                Reservados
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="credits">
                                Desenvolvido por <a href="https://danilomorais.netlify.app/">Danilo de Morais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/chart.js/chart.umd.js"></script>
    <script src="/vendor/echarts/echarts.min.js"></script>
    <script src="/vendor/quill/quill.min.js"></script>
    <script src="/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/vendor/tinymce/tinymce.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/users-profile.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>