<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitar Redefinição de Senha</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/solicitar-redefinir-senha.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
        async function solicitarRedefinicao(event) {
            event.preventDefault();
            const email = document.getElementById('email').value;

            try {
                const response = await fetch('/solicitar-redefinir-senha', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email })
                });

                const data = await response.json();
                Toastify({
                    text: data.message,
                    duration: 3000,
                    gravity: "top",
                    position: "center",
                    backgroundColor: response.ok ? "#008374" : "#f85a40",
                }).showToast();
            } catch (error) {
                console.error('Erro ao solicitar redefinição de senha:', error);
                Toastify({
                    text: "Erro ao solicitar redefinição de senha.",
                    duration: 3000,
                    gravity: "top",
                    position: "center",
                    backgroundColor: "#f85a40",
                }).showToast();
            }
        }
    </script>
</head>

<body>
    <div class="container">
        <h2>Solicitar Redefinição de Senha</h2>
        <form onsubmit="solicitarRedefinicao(event)">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>

</html>