<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Termos de Serviço - PyDenExpress</title>
    <meta content="Termos de Serviço do sistema PyDenExpress" name="description">
    <meta content="Termos de Serviço, PyDenExpress" name="keywords">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <i class="bi bi-list toggle-sidebar-btn"></i>
        <div class="d-flex align-items-center justify-content-between">
            <a href="/dashboard-escolar" class="logo d-flex align-items-center">
                <img src="/img/logo.png" alt="">
            </a>
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item dropdown pe-3">
                    <a id="profile-link" class="nav-link nav-profile d-flex align-items-center pe-0" href="#"
                        data-bs-toggle="dropdown">
                        <img id="profile-image" src="/img/user.png" alt="Foto de Perfil" class="rounded-circle">
                        <span id="usuarioNome" class="d-none d-md-block dropdown-toggle ps-2"></span>
                    </a><!-- End Profile Image Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/users-profile">
                                <i class="bi bi-person"></i>
                                <span>Meu Perfil</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/users-profile">
                                <i class="bi bi-gear"></i>
                                <span>Configurações de Conta</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/faq">
                                <i class="bi bi-question-circle"></i>
                                <span>Ajuda</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#" id="logout-link">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sair</span>
                            </a>
                        </li>
                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">
            <!-- Navigation items here -->
        </ul>

    </aside><!-- End Sidebar-->


    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Termos de Serviço</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard-escolar"><i class="bi bi-house"></i></a></li>
                    <li class="breadcrumb-item active">Termos de Serviço</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Termos de Serviço do PyDenExpress</h5>
                            <p>Última atualização: 22 de julho de 2024</p>

                            <h6>1. Aceitação dos Termos</h6>
                            <p>Ao acessar e usar o sistema PyDenExpress, você concorda em cumprir e estar vinculado a
                                estes Termos de Serviço. Se você não concorda com algum dos termos, não deve usar nossos
                                serviços.</p>

                            <h6>2. Descrição dos Serviços</h6>
                            <p>O PyDenExpress fornece um sistema completo de gerenciamento de pessoal, transporte
                                escolar, administrativo e financeiro. Nossos serviços são oferecidos "como estão" e
                                podem ser atualizados ou modificados a qualquer momento sem aviso prévio.</p>

                            <h6>3. Uso do Serviço</h6>
                            <p>Você deve usar o serviço apenas para fins legais e de acordo com estes Termos de Serviço.
                                Você concorda em não usar o serviço para qualquer finalidade ilícita ou que possa
                                danificar, desativar, sobrecarregar ou prejudicar nossos servidores ou redes.</p>

                            <h6>4. Contas de Usuário</h6>
                            <p>Para acessar certas funcionalidades do PyDenExpress, você precisará criar uma conta. Você
                                é responsável por manter a confidencialidade das informações da sua conta e por todas as
                                atividades que ocorrem sob sua conta.</p>

                            <h6>5. Privacidade</h6>
                            <p>Nos comprometemos a proteger sua privacidade. Por favor, consulte nossa <a
                                    href="/politica-de-privacidade">Política de Privacidade</a> para obter mais
                                informações sobre como coletamos, usamos e divulgamos suas informações pessoais.</p>

                            <h6>6. Propriedade Intelectual</h6>
                            <p>Todo o conteúdo disponível no PyDenExpress, incluindo, mas não se limitando a, texto,
                                gráficos, logotipos, ícones, imagens, clipes de áudio, downloads digitais e software, é
                                de nossa propriedade ou de nossos licenciadores e está protegido pelas leis de direitos
                                autorais.</p>

                            <h6>7. Limitação de Responsabilidade</h6>
                            <p>Na extensão máxima permitida por lei, em nenhuma circunstância o PyDenExpress será
                                responsável por quaisquer danos diretos, indiretos, incidentais, especiais ou
                                consequenciais resultantes do uso ou da incapacidade de usar nossos serviços.</p>

                            <h6>8. Alterações nos Termos de Serviço</h6>
                            <p>Podemos revisar estes Termos de Serviço a qualquer momento publicando uma versão
                                atualizada. Seu uso continuado do serviço após tais alterações constitui sua aceitação
                                dos novos Termos de Serviço.</p>

                            <h6>9. Rescisão</h6>
                            <p>Podemos rescindir ou suspender seu acesso ao PyDenExpress imediatamente, sem aviso prévio
                                ou responsabilidade, por qualquer motivo, incluindo, sem limitação, se você violar estes
                                Termos de Serviço.</p>

                            <h6>10. Contato</h6>
                            <p>Se você tiver alguma dúvida sobre estes Termos de Serviço, entre em contato conosco
                                através do e-mail suporte@pydenexpress.com.</p>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="container">
            <div class="row gy-4">
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyright">
                                &copy; Direitos Autorais <strong><span>PyDenExpress</span></strong>. Todos os Direitos
                                Reservados
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="credits">
                                Desenvolvido por <a href="https://danilomorais.netlify.app/">Danilo de Morais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/chart.js/chart.umd.js"></script>
    <script src="/vendor/echarts/echarts.min.js"></script>
    <script src="/vendor/quill/quill.min.js"></script>
    <script src="/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/vendor/tinymce/tinymce.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/users-profile.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>