<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Cadastrar Abastecimento</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/vendor/simple-datatables/style.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <i class="bi bi-list toggle-sidebar-btn"></i>
        <div class="d-flex align-items-center justify-content-between">
            <a href="/dashboard-escolar" class="logo d-flex align-items-center">
                <img src="/img/logo.png" alt="">
            </a>
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item dropdown pe-3">
                    <a id="profile-link" class="nav-link nav-profile d-flex align-items-center pe-0" href="#"
                        data-bs-toggle="dropdown">
                        <img id="profile-image" src="/img/user.png" alt="Foto de Perfil" class="rounded-circle">
                        <span id="usuarioNome" class="d-none d-md-block dropdown-toggle ps-2"></span>
                    </a><!-- End Profile Image Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/users-profile">
                                <i class="bi bi-person"></i>
                                <span>Meu Perfil</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/users-profile">
                                <i class="bi bi-gear"></i>
                                <span>Configurações de Conta</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/faq">
                                <i class="bi bi-question-circle"></i>
                                <span>Ajuda</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#" id="logout-link">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sair</span>
                            </a>
                        </li>
                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-heading">Transporte Escolar</li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/dashboard-escolar">
                    <i class="bi bi-speedometer2"></i>
                    <span>Painel de Controle</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#escolas-nav" data-bs-toggle="collapse" href="#">
                    <img src="/img/icones/escolas.svg" alt="Escolas"
                        style="width: 20px; height: 20px; margin-right: 5px; color: white;">
                    <span>Escolas</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="escolas-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-escolas-form">
                            <i class="bi bi-house-door"></i><span>Cadastrar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-escolas-view">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-target="#aluno-nav" data-bs-toggle="collapse" href="#">
                    <img src="/img/icones/aluno.svg" alt="Censo Escolar"
                        style="width: 20px; height: 20px; margin-right: 5px; color: white;">
                    <span>Alunos</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="aluno-nav" class="nav-content" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-aluno-form">
                            <i class="bi bi-person-plus"></i><span>Solicitar Cadastro</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-alunos-view">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/importar-aluno-form">
                            <i class="bi bi-file-earmark-arrow-up"></i><span>Importar Dados</span>
                        </a>
                    </li>

                </ul>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#routs-nav" data-bs-toggle="collapse" href="#">
                    <img src="/img/icones/rotas.svg" alt="Escolas"
                        style="width: 20px; height: 20px; margin-right: 5px; color: white;">
                    </i><span>Rotas</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="routs-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-rotas-form">
                            <i class="bi bi-plus-square"></i><span>Cadastrar Rota</span>
                        </a>
                    </li>

                    <li>
                        <a href="/desenhar-rotas-map">
                            <i class="bi bi-pencil"></i><span>Gerar Rotas</span>
                        </a>
                    </li>
                    <li>
                        <a href="/visualizar-rotas">
                            <i class="bi bi-eye"></i><span>Vizualizar Rotas</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#driverbus-nav" data-bs-toggle="collapse" href="#">
                    <img src="/img/icones/motoristas.svg" alt="Escolas"
                        style="width: 20px; height: 20px; margin-right: 5px; color: white;">
                    <span>Motoristas</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="driverbus-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-motorista-form">
                            <i class="bi bi-person-plus"></i><span>Cadastrar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-motoristas-view">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerar-relatorio-view">
                            <i class="bi bi-clipboard2-check"></i><span>Relatórios</span>
                        </a>
                    </li>
                    <li>
                        <a href="/check-list">
                            <i class="bi bi-list-check"></i><span>Check List</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                    <img src="/img/icones/monitor-icone-branco.png" alt="Escolas"
                        style="width: 20px; height: 20px; margin-right: 5px; color: white;">
                    </i><span>Monitores</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-monitores-form">
                            <i class="bi bi-person-plus"></i><span>Cadastrar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-monitores-view">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#fornecedores-nav" data-bs-toggle="collapse" href="#">
                    <img src="/img/icones/fornecedores.svg" alt="Escolas"
                        style="width: 20px; height: 20px; margin-right: 5px; color: white;">
                    </i><span>Fornecedor</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="fornecedores-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-fornecedores-form">
                            <i class="bi bi-person-plus"></i><span>Cadastrar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-fornecedores-view">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/vizualizar-fornecedores-map">
                            <i class="bi bi-eye"></i><span>Vizualizar</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#bus-nav" data-bs-toggle="collapse" href="#">
                    <img src="/img/icones/frotas.svg" alt="Escolas"
                        style="width: 20px; height: 20px; margin-right: 5px; color: white;">
                    </i><span>Frota</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="bus-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-onibus-form">
                            <i class="bi bi-person-plus"></i><span>Cadastrar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-onibus-view">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/vizualizar-onibus-map">
                            <i class="bi bi-eye"></i><span>Vizualizar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/solicitar-onibus-services">
                            <i class="bi bi-file-earmark-text"></i><span>Ordem de Serviço</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-heading">Administrativo</li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/dashboard-adm">
                    <i class="bi bi-speedometer"></i>
                    <span>Painel de Controle</span>
                </a>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#car-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-car-front"></i><span>Frota</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="car-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-carro-form">
                            <i class="bi bi-person-plus"></i><span>Cadastrar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-carros-view">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/localizar-carros-map">
                            <i class="bi bi-geo-alt-fill"></i><span>Localizar</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#drivercar-nav" data-bs-toggle="collapse" href="#">
                    <img src="/img/icones/motoristas.svg" alt="Escolas"
                        style="width: 20px; height: 20px; margin-right: 5px; color: white;">
                    <span>Motoristas</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="drivercar-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-motorista-carro-form">
                            <i class="bi bi-person-plus"></i><span>Cadastrar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-motorista-carro-form">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tarefas-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-list-check"></i><span>Tarefas</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tarefas-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-demandas">
                            <i class="bi bi-file-earmark-text"></i><span>Nova Tarefa</span>
                        </a>
                    </li>
                    <li>
                        <a href="/tasks">
                            <i class="bi bi-person-plus"></i><span>Gerenciar Tarefas</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-heading">Controle Financeiro</li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#fuel-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-droplet-half"></i><span>Abastecimento</span><i
                        class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="fuel-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-abastecimento-view">
                            <i class="bi bi-file-earmark-text"></i><span>Cadastrar Requisição</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-abastecimento-view">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Cadastrar Abastecimento</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard-escolar"><i class="bi bi-house"></i></a></li>
                    <li class="breadcrumb-item"><a href="/gerenciar-abastecimento-view">Abastecimento</a></li>
                    <li class="breadcrumb-item active">Cadastrar Abastecimento</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Cadastrar Abastecimento</h5>

                            <!-- Tabs for different motoristas -->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="escolares-tab" data-bs-toggle="tab"
                                        data-bs-target="#escolares" type="button" role="tab" aria-controls="escolares"
                                        aria-selected="true">Motoristas Escolares</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="administrativos-tab" data-bs-toggle="tab"
                                        data-bs-target="#administrativos" type="button" role="tab"
                                        aria-controls="administrativos" aria-selected="false">Motoristas
                                        Administrativos</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="escolares" role="tabpanel"
                                    aria-labelledby="escolares-tab">
                                    <form id="abastecimentoFormEscolares">
                                        <div class="mb-3">
                                            <label for="reqIdEscolares" class="form-label">ID de Requisição</label>
                                            <input type="text" class="form-control" id="reqIdEscolares" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="carroEscolares" class="form-label">Carro</label>
                                            <input type="text" class="form-control" id="carroEscolares" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="placaEscolares" class="form-label">Placa</label>
                                            <input type="text" class="form-control" id="placaEscolares" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="odometroEscolares" class="form-label">KM do Odômetro</label>
                                            <input type="number" class="form-control" id="odometroEscolares" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="combustivelEscolares" class="form-label">Tipo de
                                                Combustível</label>
                                            <select class="form-select" id="combustivelEscolares" required>
                                                <option value="Gasolina Comum">Gasolina Comum</option>
                                                <option value="Diesel S10">Diesel S10</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="litrosEscolares" class="form-label">Quantidade de Litros</label>
                                            <input type="number" step="0.01" class="form-control" id="litrosEscolares"
                                                required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="totalEscolares" class="form-label">Valor Total</label>
                                            <input type="text" class="form-control" id="totalEscolares" readonly>
                                        </div>
                                        <div class="mb-3">
                                            <label for="motoristaEscolares" class="form-label">Motorista</label>
                                            <select class="form-select" id="motoristaEscolares" required>
                                                <!-- Options dinâmicas dos motoristas -->
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="administrativos" role="tabpanel"
                                    aria-labelledby="administrativos-tab">
                                    <form id="abastecimentoFormAdministrativos">
                                        <div class="mb-3">
                                            <label for="reqIdAdministrativos" class="form-label">ID de
                                                Requisição</label>
                                            <input type="text" class="form-control" id="reqIdAdministrativos" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="carroAdministrativos" class="form-label">Carro</label>
                                            <input type="text" class="form-control" id="carroAdministrativos" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="placaAdministrativos" class="form-label">Placa</label>
                                            <input type="text" class="form-control" id="placaAdministrativos" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="odometroAdministrativos" class="form-label">KM do
                                                Odômetro</label>
                                            <input type="number" class="form-control" id="odometroAdministrativos"
                                                required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="combustivelAdministrativos" class="form-label">Tipo de
                                                Combustível</label>
                                            <select class="form-select" id="combustivelAdministrativos" required>
                                                <option value="Gasolina Comum">Gasolina Comum</option>
                                                <option value="Diesel S10">Diesel S10</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="litrosAdministrativos" class="form-label">Quantidade de
                                                Litros</label>
                                            <input type="number" step="0.01" class="form-control"
                                                id="litrosAdministrativos" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="totalAdministrativos" class="form-label">Valor Total</label>
                                            <input type="text" class="form-control" id="totalAdministrativos" readonly>
                                        </div>
                                        <div class="mb-3">
                                            <label for="motoristaAdministrativos" class="form-label">Motorista</label>
                                            <select class="form-select" id="motoristaAdministrativos" required>
                                                <!-- Options dinâmicas dos motoristas -->
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                                    </form>
                                </div>
                            </div>
                            <div id="statusMessage" class="mt-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
    <!-- ======= Rodapé ======= -->
    <footer id="footer" class="footer">
        <div class="container">
            <div class="row gy-4">


                <div class="container mt-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyright">
                                &copy; Direitos Autorais <strong><span>PyDenExpress</span></strong>. Todos os Direitos
                                Reservados
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="credits">
                                Desenvolvido por <a href="https://danilomorais.netlify.app/">Danilo de Morais</a>
                            </div>
                        </div>
                    </div>
                </div>
    </footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/chart.js/chart.umd.js"></script>
    <script src="/vendor/echarts/echarts.min.js"></script>
    <script src="/vendor/quill/quill.min.js"></script>
    <script src="/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/vendor/tinymce/tinymce.min.js"></script>


    <!-- Template Main JS File -->
    <script src="/js/users-profile.js"></script>
    <script src="/js/main.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetchMotoristas('motoristas_escolares', 'motoristaEscolares');
            fetchMotoristas('motoristas_administrativos', 'motoristaAdministrativos');

            document.getElementById('litrosEscolares').addEventListener('input', calcularValorTotalEscolares);
            document.getElementById('combustivelEscolares').addEventListener('change', calcularValorTotalEscolares);
            document.getElementById('litrosAdministrativos').addEventListener('input', calcularValorTotalAdministrativos);
            document.getElementById('combustivelAdministrativos').addEventListener('change', calcularValorTotalAdministrativos);

            document.getElementById('abastecimentoFormEscolares').addEventListener('submit', function (event) {
                event.preventDefault();
                cadastrarAbastecimento('escolares');
            });

            document.getElementById('abastecimentoFormAdministrativos').addEventListener('submit', function (event) {
                event.preventDefault();
                cadastrarAbastecimento('administrativos');
            });
        });

        function fetchMotoristas(tipoMotorista, selectId) {
            fetch(`/api/motoristas-abastecimento?tipo=${tipoMotorista}`)
                .then(response => response.json())
                .then(data => {
                    const motoristaSelect = document.getElementById(selectId);
                    data.forEach(motorista => {
                        const option = document.createElement('option');
                        option.value = motorista.id;
                        option.textContent = motorista.nome_completo;
                        motoristaSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Erro ao carregar motoristas:', error));
        }

        function calcularValorTotalEscolares() {
            calcularValorTotal('litrosEscolares', 'combustivelEscolares', 'totalEscolares');
        }

        function calcularValorTotalAdministrativos() {
            calcularValorTotal('litrosAdministrativos', 'combustivelAdministrativos', 'totalAdministrativos');
        }

        function calcularValorTotal(litrosId, combustivelId, totalId) {
            const litros = parseFloat(document.getElementById(litrosId).value);
            const combustivel = document.getElementById(combustivelId).value;
            let valorUnitario = 0;

            if (combustivel === 'Gasolina Comum') {
                valorUnitario = 5.8;
            } else if (combustivel === 'Diesel S10') {
                valorUnitario = 6.9;
            }

            const valorTotal = (litros * valorUnitario).toFixed(2);
            document.getElementById(totalId).value = isNaN(valorTotal) ? '' : `R$ ${valorTotal}`;
        }

        function cadastrarAbastecimento(tipoMotorista) {
            const reqId = document.getElementById(`reqId${tipoMotorista.charAt(0).toUpperCase() + tipoMotorista.slice(1)}`).value;
            const carro = document.getElementById(`carro${tipoMotorista.charAt(0).toUpperCase() + tipoMotorista.slice(1)}`).value;
            const placa = document.getElementById(`placa${tipoMotorista.charAt(0).toUpperCase() + tipoMotorista.slice(1)}`).value;
            const odometro = document.getElementById(`odometro${tipoMotorista.charAt(0).toUpperCase() + tipoMotorista.slice(1)}`).value;
            const combustivel = document.getElementById(`combustivel${tipoMotorista.charAt(0).toUpperCase() + tipoMotorista.slice(1)}`).value;
            const litros = document.getElementById(`litros${tipoMotorista.charAt(0).toUpperCase() + tipoMotorista.slice(1)}`).value;
            const motoristaId = document.getElementById(`motorista${tipoMotorista.charAt(0).toUpperCase() + tipoMotorista.slice(1)}`).value;

            const data = {
                reqId,
                carro,
                placa,
                odometro,
                combustivel,
                litros,
                motoristaId
            };

            fetch(`/api/cadastrar-abastecimento-${tipoMotorista}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('statusMessage').textContent = `Abastecimento cadastrado com sucesso para motoristas ${tipoMotorista}!`;
                    document.getElementById(`abastecimentoForm${tipoMotorista.charAt(0).toUpperCase() + tipoMotorista.slice(1)}`).reset();
                    document.getElementById(`total${tipoMotorista.charAt(0).toUpperCase() + tipoMotorista.slice(1)}`).value = '';
                })
                .catch(error => console.error('Erro ao cadastrar abastecimento:', error));
        }
    </script>

</body>

</html>