<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Gerar Traçado de Rota</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css" />

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">

    <style>
        #map {
            height: 600px;
            margin-top: 20px;
        }

        .leaflet-routing-container {
            background-color: white;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <!-- Header e Sidebar aqui -->

    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Gerar Traçado de Rota</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard-escolar"><i class="bi bi-house"></i></a></li>
                    <li class="breadcrumb-item active">Gerar Traçado de Rota</li>
                </ol>
            </nav>
        </div>

        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Selecione a Rota</h5>
                            <select class="form-select" id="rotaSelect">
                                <!-- Opções carregadas dinamicamente -->
                            </select>
                            <button class="btn btn-primary mt-3" id="addStartPointButton">Adicionar Ponto
                                Inicial</button>
                            <button class="btn btn-info mt-3" id="addWayPointButton">Adicionar Ponto de Parada</button>
                            <button class="btn btn-secondary mt-3" id="addEndPointButton">Adicionar Ponto Final</button>
                            <div id="map"></div>
                            <div id="routingInstructions" class="mt-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>

    <!-- Vendor JS Files -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/echarts/echarts.min.js"></script>
    <script src="/vendor/quill/quill.min.js"></script>
    <script src="/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/vendor/tinymce/tinymce.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const rotaSelect = document.getElementById('rotaSelect');
            const addStartPointButton = document.getElementById('addStartPointButton');
            const addEndPointButton = document.getElementById('addEndPointButton');
            const addWayPointButton = document.getElementById('addWayPointButton');
            const map = L.map('map').setView([-6.530379, -49.851744], 13);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; OpenStreetMap contributors'
            }).addTo(map);
            let routingControl;
            let startPoint = null;
            let endPoint = null;
            let waypoints = [];

            // Carregar rotas no select
            fetch('/api/rotas')
                .then(response => response.json())
                .then(rotas => {
                    rotas.forEach(rota => {
                        const option = document.createElement('option');
                        option.value = rota.id;
                        option.textContent = rota.nome_rota;
                        rotaSelect.appendChild(option);
                    });
                });

            // Adicionar ponto inicial ao clicar no mapa
            addStartPointButton.addEventListener('click', function () {
                map.once('click', function (e) {
                    if (startPoint) {
                        map.removeLayer(startPoint);
                    }
                    startPoint = L.marker(e.latlng).addTo(map).bindPopup('Ponto Inicial').openPopup();
                });
            });

            // Adicionar ponto final ao clicar no mapa
            addEndPointButton.addEventListener('click', function () {
                map.once('click', function (e) {
                    if (endPoint) {
                        map.removeLayer(endPoint);
                    }
                    endPoint = L.marker(e.latlng).addTo(map).bindPopup('Ponto Final').openPopup();
                });
            });

            // Adicionar ponto de parada ao clicar no mapa
            addWayPointButton.addEventListener('click', function () {
                map.once('click', function (e) {
                    const wayPoint = L.marker(e.latlng).addTo(map).bindPopup('Ponto de Parada').openPopup();
                    waypoints.push(wayPoint);
                });
            });

            // Quando uma rota é selecionada, carregar as escolas e gerar o traçado
            rotaSelect.addEventListener('change', function () {
                const rotaId = this.value;
                fetch(`/api/rotas/${rotaId}`)
                    .then(response => response.json())
                    .then(rota => {
                        const escolaIds = rota.escolas_atendidas;

                        return fetch('/api/escolas-nomes', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ ids: escolaIds })
                        });
                    })
                    .then(response => response.json())
                    .then(escolas => {
                        const escolaWaypoints = escolas.map(escola => L.latLng(escola.latitude, escola.longitude));

                        let routeWaypoints = [];

                        if (startPoint) {
                            routeWaypoints.push(startPoint.getLatLng());
                        }

                        waypoints.forEach(wp => {
                            routeWaypoints.push(wp.getLatLng());
                        });

                        escolaWaypoints.forEach(wp => {
                            routeWaypoints.push(wp);
                        });

                        if (endPoint) {
                            routeWaypoints.push(endPoint.getLatLng());
                        }

                        if (routingControl) {
                            map.removeControl(routingControl);
                        }

                        routingControl = L.Routing.control({
                            waypoints: routeWaypoints,
                            routeWhileDragging: false,
                            createMarker: function (i, wp) {
                                if (i === 0 && startPoint) {
                                    return startPoint;
                                } else if (i === routeWaypoints.length - 1 && endPoint) {
                                    return endPoint;
                                } else if (waypoints.find(point => point.getLatLng().equals(wp.latLng))) {
                                    return L.marker(wp.latLng).bindPopup('Ponto de Parada');
                                } else {
                                    return L.marker(wp.latLng).bindPopup(escolas[i - waypoints.length - 1].nome);
                                }
                            },
                            show: false,
                            draggableWaypoints: false
                        }).addTo(map);

                        routingControl.on('routesfound', function (e) {
                            const routes = e.routes;
                            const summary = routes[0].summary;
                            const instructions = document.getElementById('routingInstructions');
                            instructions.innerHTML = '<b>Total distance:</b> ' + (summary.totalDistance / 1000).toFixed(2) + ' km<br><b>Total time:</b> ' + (summary.totalTime / 60).toFixed(0) + ' mins<br><br>';
                            instructions.innerHTML += '<ol>';
                            routes[0].instructions.forEach(function (instruction) {
                                instructions.innerHTML += '<li>' + instruction.text + '</li>';
                            });
                            instructions.innerHTML += '</ol>';
                        });

                        map.fitBounds(routeWaypoints);
                    })
                    .catch(error => console.error('Erro ao gerar traçado de rota:', error));
            });
        });
    </script>
</body>

</html>