<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Gerenciar Motoristas</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/vendor/simple-datatables/style.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <i class="bi bi-list toggle-sidebar-btn"></i>
        <div class="d-flex align-items-center justify-content-between">
            <a href="/dashboard-escolar" class="logo d-flex align-items-center">
                <img src="/img/logo.png" alt="">
            </a>
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item dropdown pe-3">
                    <a id="profile-link" class="nav-link nav-profile d-flex align-items-center pe-0" href="#"
                        data-bs-toggle="dropdown">
                        <img id="profile-image" src="/img/user.png" alt="Foto de Perfil" class="rounded-circle">
                        <span id="usuarioNome" class="d-none d-md-block dropdown-toggle ps-2"></span>
                    </a><!-- End Profile Image Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/users-profile">
                                <i class="bi bi-person"></i>
                                <span>Meu Perfil</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/users-profile">
                                <i class="bi bi-gear"></i>
                                <span>Configurações de Conta</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/faq">
                                <i class="bi bi-question-circle"></i>
                                <span>Ajuda</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#" id="logout-link">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sair</span>
                            </a>
                        </li>
                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-heading">Transporte Escolar</li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/dashboard-escolar">
                    <i class="bi bi-speedometer2"></i>
                    <span>Painel de Controle</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#escolas-nav" data-bs-toggle="collapse" href="#">
                    <img src="/img/icones/escolas.svg" alt="Escolas"
                        style="width: 20px; height: 20px; margin-right: 5px; color: white;">
                    <span>Escolas</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="escolas-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-escolas-form">
                            <i class="bi bi-house-door"></i><span>Cadastrar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-escolas-view">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#aluno-nav" data-bs-toggle="collapse" href="#">
                    <img src="/img/icones/aluno.svg" alt="Censo Escolar"
                        style="width: 20px; height: 20px; margin-right: 5px; color: white;">
                    <span>Alunos</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="aluno-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-aluno-form">
                            <i class="bi bi-person-plus"></i><span>Solicitar Cadastro</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-alunos-view">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/importar-aluno-form">
                            <i class="bi bi-file-earmark-arrow-up"></i><span>Importar Dados</span>
                        </a>
                    </li>
                    <li>
                        <a href="/visualizar-alunos-map">
                            <i class="bi bi-eye"></i><span>Vizualizar</span>
                        </a>
                    </li>
                </ul>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#routs-nav" data-bs-toggle="collapse" href="#">
                    <img src="/img/icones/rotas.svg" alt="Escolas"
                        style="width: 20px; height: 20px; margin-right: 5px; color: white;">
                    </i><span>Rotas</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="routs-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-rotas-form">
                            <i class="bi bi-plus-square"></i><span>Cadastrar Rota</span>
                        </a>
                    </li>

                    <li>
                        <a href="/desenhar-rotas-map">
                            <i class="bi bi-pencil"></i><span>Gerar Rotas</span>
                        </a>
                    </li>
                    <li>
                        <a href="/visualizar-rotas">
                            <i class="bi bi-eye"></i><span>Vizualizar Rotas</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-target="#driverbus-nav" data-bs-toggle="collapse" href="#">
                    <img src="/img/icones/motoristas.svg" alt="Escolas"
                        style="width: 20px; height: 20px; margin-right: 5px; color: white;">
                    <span>Motoristas</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="driverbus-nav" class="nav-content" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-motorista-form">
                            <i class="bi bi-person-plus"></i><span>Cadastrar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-motoristas-view">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerar-relatorio-view">
                            <i class="bi bi-clipboard2-check"></i><span>Relatórios</span>
                        </a>
                    </li>
                    <li>
                        <a href="/check-list">
                            <i class="bi bi-list-check"></i><span>Check List</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                    <img src="/img/icones/monitor-icone-branco.png" alt="Escolas"
                        style="width: 20px; height: 20px; margin-right: 5px; color: white;">
                    </i><span>Monitores</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-monitores-form">
                            <i class="bi bi-person-plus"></i><span>Cadastrar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-monitores-view">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#fornecedores-nav" data-bs-toggle="collapse" href="#">
                    <img src="/img/icones/fornecedores.svg" alt="Escolas"
                        style="width: 20px; height: 20px; margin-right: 5px; color: white;">
                    </i><span>Fornecedor</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="fornecedores-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-fornecedores-form">
                            <i class="bi bi-person-plus"></i><span>Cadastrar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-fornecedores-view">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/vizualizar-fornecedores-map">
                            <i class="bi bi-eye"></i><span>Vizualizar</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#bus-nav" data-bs-toggle="collapse" href="#">
                    <img src="/img/icones/frotas.svg" alt="Escolas"
                        style="width: 20px; height: 20px; margin-right: 5px; color: white;">
                    </i><span>Frota</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="bus-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-onibus-form">
                            <i class="bi bi-person-plus"></i><span>Cadastrar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-onibus-view">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/vizualizar-onibus-map">
                            <i class="bi bi-eye"></i><span>Vizualizar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/solicitar-onibus-services">
                            <i class="bi bi-file-earmark-text"></i><span>Ordem de Serviço</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-heading">Administrativo</li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/dashboard-adm">
                    <i class="bi bi-speedometer"></i>
                    <span>Painel de Controle</span>
                </a>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#car-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-car-front"></i><span>Frota</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="car-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-carro-form">
                            <i class="bi bi-person-plus"></i><span>Cadastrar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-carros-view">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/localizar-carros-map">
                            <i class="bi bi-geo-alt-fill"></i><span>Localizar</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#drivercar-nav" data-bs-toggle="collapse" href="#">
                    <img src="/img/icones/motoristas.svg" alt="Escolas"
                        style="width: 20px; height: 20px; margin-right: 5px; color: white;">
                    <span>Motoristas</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="drivercar-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-motorista-carro-form">
                            <i class="bi bi-person-plus"></i><span>Cadastrar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-motorista-carro-form">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tarefas-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-list-check"></i><span>Tarefas</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tarefas-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-demandas">
                            <i class="bi bi-file-earmark-text"></i><span>Nova Tarefa</span>
                        </a>
                    </li>
                    <li>
                        <a href="/tasks">
                            <i class="bi bi-person-plus"></i><span>Gerenciar Tarefas</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-heading">Controle Financeiro</li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#fuel-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-droplet-half"></i><span>Abastecimento</span><i
                        class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="fuel-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-abastecimento-view">
                            <i class="bi bi-file-earmark-text"></i><span>Cadastrar Requisição</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-abastecimento-view">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Gerenciar Motoristas</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard-escolar"><i class="bi bi-house"></i></a></li>
                    <li class="breadcrumb-item"><a href="/gerenciar-motoristas-view">Motoristas</a></li>
                    <li class="breadcrumb-item active">Gerenciar Motoristas</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Motoristas</h5>
                            <div class="table-responsive">
                                <table class="table table-striped" id="motoristasTable">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nome <span class="bi bi-arrow-down-up"></span></th>
                                            <th>CPF <span class="bi bi-arrow-down-up"></span></th>
                                            <th>CNH <span class="bi bi-arrow-down-up"></span></th>
                                            <th>Empresa <span class="bi bi-arrow-down-up"></span></th>
                                            <th>Rota <span class="bi bi-arrow-down-up"></span></th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Dados dos motoristas -->
                                    </tbody>
                                </table>
                            </div>
                            <div id="statusMessage" class="mt-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Modal de Edição de Motorista -->
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Editar Motorista</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editForm">
                            <div class="mb-3">
                                <label for="editNome" class="form-label">Nome</label>
                                <input type="text" class="form-control" id="editNome" name="nome" required>
                            </div>
                            <div class="mb-3">
                                <label for="editCpf" class="form-label">CPF</label>
                                <input type="text" class="form-control" id="editCpf" name="cpf" required>
                            </div>
                            <div class="mb-3">
                                <label for="editCnh" class="form-label">CNH</label>
                                <input type="text" class="form-control" id="editCnh" name="cnh" required>
                            </div>
                            <div class="mb-3">
                                <label for="editEmpresa" class="form-label">Empresa</label>
                                <select class="form-select" id="editEmpresa" name="empresa" required>
                                    <option value="SEMED">SEMED</option>
                                    <option value="TALISMÃ">TALISMÃ</option>
                                    <option value="LOCAN">LOCAN</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="editRota" class="form-label">Rota</label>
                                <select class="form-select" id="editRota" name="rota_id" required>
                                    <!-- Options dinâmicas -->
                                </select>
                            </div>
                            <input type="hidden" id="editMotoristaId">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick="salvarEdicao()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

    </main><!-- End #main -->



    <!-- Vendor JS Files -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/echarts/echarts.min.js"></script>
    <script src="/vendor/quill/quill.min.js"></script>
    <script src="/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/vendor/tinymce/tinymce.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/users-profile.js"></script>
    <script src="/js/main.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/api/rotas')
                .then(response => response.json())
                .then(data => {
                    const rotaSelect = document.getElementById('editRota');
                    data.forEach(rota => {
                        const option = document.createElement('option');
                        option.value = rota.id;
                        option.textContent = rota.nome_rota;
                        rotaSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Erro ao carregar rotas:', error));
    
            fetchMotoristas();
    
            function fetchMotoristas() {
                fetch('/api/motoristasescolares')
                    .then(response => response.json())
                    .then(data => {
                        console.log('Motoristas recebidos:', data); // Adicione este log
                        if (!Array.isArray(data)) {
                            throw new Error('Resposta não é um array');
                        }
                        const motoristasTableBody = document.getElementById('motoristasTable').querySelector('tbody');
                        motoristasTableBody.innerHTML = '';
    
                        data.forEach((motorista, index) => {
                            const row = document.createElement('tr');
                            row.innerHTML = `
                                <td>${index + 1}</td>
                                <td>${motorista.nome_completo}</td>
                                <td>${motorista.cpf}</td>
                                <td>${motorista.cnh}</td>
                                <td>${motorista.empresa}</td>
                                <td>${motorista.rota_nome}</td>
                                <td>
                                    <button class="btn btn-primary btn-sm" onclick="editarMotorista(${motorista.id})">Editar</button>
                                    <button class="btn btn-danger btn-sm" onclick="excluirMotorista(${motorista.id})">Excluir</button>
                                </td>
                            `;
                            motoristasTableBody.appendChild(row);
                        });
    
                        const quantidadeMotoristas = data.length;
                        document.getElementById('statusMessage').textContent = `Total de motoristas: ${quantidadeMotoristas}`;
                    })
                    .catch(error => console.error('Erro ao carregar motoristas:', error));
            }
    
            window.editarMotorista = function (motoristaId) {
                fetch(`/api/motoristasescolares/${motoristaId}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Motorista não encontrado.');
                        }
                        return response.json();
                    })
                    .then(data => {
                        document.getElementById('editMotoristaId').value = data.id;
                        document.getElementById('editNome').value = data.nome_completo;
                        document.getElementById('editCpf').value = data.cpf;
                        document.getElementById('editCnh').value = data.cnh;
                        document.getElementById('editEmpresa').value = data.empresa;
                        document.getElementById('editRota').value = data.rota_id;
    
                        const editModal = new bootstrap.Modal(document.getElementById('editModal'));
                        editModal.show();
                    })
                    .catch(error => console.error('Erro ao carregar dados do motorista:', error));
            };
    
            window.salvarEdicao = function () {
                const motoristaId = document.getElementById('editMotoristaId').value;
                const formData = new FormData(document.getElementById('editForm'));
    
                fetch(`/api/motoristasescolares/${motoristaId}`, {
                    method: 'PUT',
                    body: JSON.stringify(Object.fromEntries(formData)),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        alert('Dados do motorista atualizados com sucesso.');
                        const editModal = bootstrap.Modal.getInstance(document.getElementById('editModal'));
                        editModal.hide();
                        fetchMotoristas();
                    })
                    .catch(error => console.error('Erro ao salvar dados do motorista:', error));
            };
    
            window.excluirMotorista = function (motoristaId) {
                if (confirm('Tem certeza que deseja excluir este motorista?')) {
                    fetch(`/api/motoristasescolares/${motoristaId}`, {
                        method: 'DELETE'
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Erro ao excluir motorista.');
                            }
                            return response.json();
                        })
                        .then(data => {
                            alert(data.message);
                            fetchMotoristas();
                        })
                        .catch(error => console.error('Erro ao excluir motorista:', error));
                }
            };
    
            function sortTableByColumn(table, column, asc = true) {
                const dirModifier = asc ? 1 : -1;
                const tBody = table.tBodies[0];
                const rows = Array.from(tBody.querySelectorAll('tr'));
    
                const sortedRows = rows.sort((a, b) => {
                    const aColText = a.querySelector(`td:nth-child(${column + 1})`).textContent.trim();
                    const bColText = b.querySelector(`td:nth-child(${column + 1})`).textContent.trim();
    
                    return aColText > bColText ? (1 * dirModifier) : (-1 * dirModifier);
                });
    
                while (tBody.firstChild) {
                    tBody.removeChild(tBody.firstChild);
                }
    
                tBody.append(...sortedRows);
    
                table.querySelectorAll('th').forEach(th => th.classList.remove('th-sort-asc', 'th-sort-desc'));
                table.querySelector(`th:nth-child(${column + 1})`).classList.toggle('th-sort-asc', asc);
                table.querySelector(`th:nth-child(${column + 1})`).classList.toggle('th-sort-desc', !asc);
            }
    
            document.querySelectorAll('.table-sortable th').forEach(headerCell => {
                headerCell.addEventListener('click', () => {
                    const tableElement = headerCell.parentElement.parentElement.parentElement;
                    const headerIndex = Array.prototype.indexOf.call(headerCell.parentElement.children, headerCell);
                    const currentIsAscending = headerCell.classList.contains('th-sort-asc');
    
                    sortTableByColumn(tableElement, headerIndex, !currentIsAscending);
                });
            });
        });
    </script>
    
    
</body>

</html>