<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Visualizar Rotas</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">

    <style>
        #map {
            height: 600px;
            display: none;
        }

        #detalhesRota {
            margin-top: 20px;
            display: none;
        }
    </style>
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <i class="bi bi-list toggle-sidebar-btn"></i>
        <div class="d-flex align-items-center justify-content-between">
            <a href="/dashboard-escolar" class="logo d-flex align-items-center">
                <img src="/img/logo.png" alt="">
            </a>
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">
                    <a id="profile-link" class="nav-link nav-profile d-flex align-items-center pe-0" href="#"
                        data-bs-toggle="dropdown">
                        <img id="profile-image" src="/img/user.png" alt="Foto de Perfil" class="rounded-circle">
                        <span id="usuarioNome" class="d-none d-md-block dropdown-toggle ps-2"></span>
                    </a><!-- End Profile Image Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/users-profile">
                                <i class="bi bi-person"></i>
                                <span>Meu Perfil</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/users-profile">
                                <i class="bi bi-gear"></i>
                                <span>Configurações de Conta</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/faq">
                                <i class="bi bi-question-circle"></i>
                                <span>Ajuda</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#" id="logout-link">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sair</span>
                            </a>
                        </li>
                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->
            </ul>
        </nav><!-- End Icons Navigation -->
    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-heading">Transporte Escolar</li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/dashboard-escolar">
                    <i class="bi bi-speedometer2"></i>
                    <span>Painel de Controle</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#escolas-nav" data-bs-toggle="collapse" href="#">
                    <img src="/img/icones/escolas.svg" alt="Escolas"
                        style="width: 20px; height: 20px; margin-right: 5px; color: white;">
                    <span>Escolas</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="escolas-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-escolas-form">
                            <i class="bi bi-house-door"></i><span>Cadastrar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-escolas-view">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#aluno-nav" data-bs-toggle="collapse" href="#">
                    <img src="/img/icones/aluno.svg" alt="Censo Escolar"
                        style="width: 20px; height: 20px; margin-right: 5px; color: white;">
                    <span>Alunos</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="aluno-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-aluno-form">
                            <i class="bi bi-person-plus"></i><span>Solicitar Cadastro</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-alunos-view">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/importar-aluno-form">
                            <i class="bi bi-file-earmark-arrow-up"></i><span>Importar Dados</span>
                        </a>
                    </li>
                    <li>
                        <a href="/visualizar-alunos-map">
                            <i class="bi bi-eye"></i><span>Vizualizar</span>
                        </a>
                    </li>
                </ul>
            <li class="nav-item">
                <a class="nav-link" data-bs-target="#routs-nav" data-bs-toggle="collapse" href="#">
                    <img src="/img/icones/rotas.svg" alt="Escolas"
                        style="width: 20px; height: 20px; margin-right: 5px; color: white;">
                    </i><span>Rotas</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="routs-nav" class="nav-content" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-rotas-form">
                            <i class="bi bi-plus-square"></i><span>Cadastrar Rota</span>
                        </a>
                    </li>
                    <li>
                        <a href="/desenhar-rotas-map">
                            <i class="bi bi-pencil"></i><span>Gerar Rotas</span>
                        </a>
                    </li>
                    <li>
                        <a href="/visualizar-rotas">
                            <i class="bi bi-eye"></i><span>Vizualizar Rotas</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#driverbus-nav" data-bs-toggle="collapse" href="#">
                    <img src="/img/icones/motoristas.svg" alt="Escolas"
                        style="width: 20px; height: 20px; margin-right: 5px; color: white;">
                    <span>Motoristas</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="driverbus-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-motorista-form">
                            <i class="bi bi-person-plus"></i><span>Cadastrar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-motoristas-view">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerar-relatorio-view">
                            <i class="bi bi-clipboard2-check"></i><span>Relatórios</span>
                        </a>
                    </li>
                    <li>
                        <a href="/check-list">
                            <i class="bi bi-list-check"></i><span>Check List</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                    <img src="/img/icones/monitor-icone-branco.png" alt="Escolas"
                        style="width: 20px; height: 20px; margin-right: 5px; color: white;">
                    </i><span>Monitores</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="charts-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-monitores-form">
                            <i class="bi bi-person-plus"></i><span>Cadastrar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-monitores-view">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#fornecedores-nav" data-bs-toggle="collapse" href="#">
                    <img src="/img/icones/fornecedores.svg" alt="Escolas"
                        style="width: 20px; height: 20px; margin-right: 5px; color: white;">
                    </i><span>Fornecedor</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="fornecedores-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-fornecedores-form">
                            <i class="bi bi-person-plus"></i><span>Cadastrar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-fornecedores-view">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/vizualizar-fornecedores-map">
                            <i class="bi bi-eye"></i><span>Vizualizar</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#bus-nav" data-bs-toggle="collapse" href="#">
                    <img src="/img/icones/frotas.svg" alt="Escolas"
                        style="width: 20px; height: 20px; margin-right: 5px; color: white;">
                    </i><span>Frota</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="bus-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-onibus-form">
                            <i class="bi bi-person-plus"></i><span>Cadastrar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-onibus-view">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/vizualizar-onibus-map">
                            <i class="bi bi-eye"></i><span>Vizualizar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/solicitar-onibus-services">
                            <i class="bi bi-file-earmark-text"></i><span>Ordem de Serviço</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-heading">Administrativo</li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/dashboard-adm">
                    <i class="bi bi-speedometer"></i>
                    <span>Painel de Controle</span>
                </a>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#car-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-car-front"></i><span>Frota</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="car-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-carro-form">
                            <i class="bi bi-person-plus"></i><span>Cadastrar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-carros-view">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/localizar-carros-map">
                            <i class="bi bi-geo-alt-fill"></i><span>Localizar</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#drivercar-nav" data-bs-toggle="collapse" href="#">
                    <img src="/img/icones/motoristas.svg" alt="Escolas"
                        style="width: 20px; height: 20px; margin-right: 5px; color: white;">
                    <span>Motoristas</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="drivercar-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-motorista-carro-form">
                            <i class="bi bi-person-plus"></i><span>Cadastrar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-motorista-carro-form">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tarefas-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-list-check"></i><span>Tarefas</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tarefas-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-demandas">
                            <i class="bi bi-file-earmark-text"></i><span>Nova Tarefa</span>
                        </a>
                    </li>
                    <li>
                        <a href="/tasks">
                            <i class="bi bi-person-plus"></i><span>Gerenciar Tarefas</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-heading">Controle Financeiro</li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#fuel-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-droplet-half"></i><span>Abastecimento</span><i
                        class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="fuel-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/cadastrar-abastecimento-view">
                            <i class="bi bi-file-earmark-text"></i><span>Cadastrar Requisição</span>
                        </a>
                    </li>
                    <li>
                        <a href="/gerenciar-abastecimento-view">
                            <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside><!-- End Sidebar-->

    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Visualizar Rotas</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard-escolar"><i class="bi bi-house"></i></a></li>
                    <li class="breadcrumb-item active">Visualizar Rotas</li>
                </ol>
            </nav>
        </div>
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Rotas</h5>
                            <div class="table-responsive">
                                <table class="table table-striped" id="rotasTable">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nome da Rota <span class="bi bi-arrow-down-up"></span></th>
                                            <th>Horários de Funcionamento <span class="bi bi-arrow-down-up"></span></th>
                                            <th>Escolas Atendidas <span class="bi bi-arrow-down-up"></span></th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Dados das rotas -->
                                    </tbody>
                                </table>
                            </div>
                            <div id="statusMessage" class="mt-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Mapa da Rota</h5>
                            <div id="map"></div>
                            <div id="detalhesRota"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer id="footer" class="footer">
        <div class="container">
            <div class="row gy-4">
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyright">
                                &copy; Direitos Autorais <strong><span>PyDenExpress</span></strong>. Todos os Direitos
                                Reservados
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="credits">
                                Desenvolvido por <a href="https://danilomorais.netlify.app/">Danilo de Morais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </footer>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>

    <!-- Vendor JS Files -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/echarts/echarts.min.js"></script>
    <script src="/vendor/quill/quill.min.js"></script>
    <script src="/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/vendor/tinymce/tinymce.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var map = L.map('map').setView([-6.530379, -49.851744], 13);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; OpenStreetMap contributors'
            }).addTo(map);

            var routingControl;

            // Carregar rotas na tabela
            fetchRotas();

            function fetchRotas() {
                fetch('/api/rotas')
                    .then(response => response.json())
                    .then(data => {
                        const escolaIds = [];
                        data.forEach(rota => {
                            rota.escolas_atendidas.forEach(id => {
                                if (!escolaIds.includes(id)) {
                                    escolaIds.push(id);
                                }
                            });
                        });

                        fetch('/api/escolas-nomes', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ ids: escolaIds })
                        })
                            .then(response => response.json())
                            .then(escolasData => {
                                const escolasMap = {};
                                escolasData.forEach(escola => {
                                    escolasMap[escola.id] = escola.nome;
                                });

                                const rotasTableBody = document.getElementById('rotasTable').querySelector('tbody');
                                rotasTableBody.innerHTML = '';

                                data.forEach((rota, index) => {
                                    const escolasNomes = rota.escolas_atendidas.map(id => escolasMap[id]).join(', ');

                                    const row = document.createElement('tr');
                                    row.innerHTML = `
                                        <td>${index + 1}</td>
                                        <td>${rota.nome_rota}</td>
                                        <td>${rota.horarios_funcionamento.join(', ')}</td>
                                        <td>${escolasNomes}</td>
                                        <td>
                                            <button class="btn btn-primary btn-sm" onclick="visualizarRota(${rota.id})">
                                                <i class="bi bi-eye"></i>
                                            </button>
                                            <button class="btn btn-primary btn-sm" onclick="editarRota(${rota.id})">
                                                <i class="bi bi-pencil"></i> Editar
                                            </button>
                                            <button class="btn btn-danger btn-sm" onclick="excluirRota(${rota.id})">Excluir</button>
                                        </td>
                                    `;
                                    rotasTableBody.appendChild(row);
                                });

                                const quantidadeRotas = data.length;
                                document.getElementById('statusMessage').textContent = `Total de rotas: ${quantidadeRotas}`;
                            })
                            .catch(error => console.error('Erro ao carregar nomes das escolas:', error));
                    })
                    .catch(error => console.error('Erro ao carregar rotas:', error));
            }

            window.visualizarRota = function (rotaId) {
                fetch(`/api/rota-gerada/${rotaId}`)
                    .then(response => response.json())
                    .then(data => {
                        if (routingControl) {
                            map.removeControl(routingControl);
                        }

                        const waypoints = data.map(coord => L.latLng(coord.lat, coord.lng));
                        routingControl = L.Routing.control({
                            waypoints: waypoints,
                            createMarker: function () { return null; },
                            routeWhileDragging: false,
                            addWaypoints: false,
                            draggableWaypoints: false
                        }).addTo(map);

                        const detalhesRotaDiv = document.getElementById('detalhesRota');
                        detalhesRotaDiv.innerHTML = `
                            <p><strong>Nome da Rota:</strong> ${rotaId}</p>
                            <p><strong>Total de Pontos:</strong> ${waypoints.length}</p>
                            <p><strong>Pontos:</strong></p>
                            <ul>
                                ${waypoints.map((ponto, index) => `<li>Ponto ${index + 1}: ${ponto.lat.toFixed(5)}, ${ponto.lng.toFixed(5)}</li>`).join('')}
                            </ul>
                        `;
                        detalhesRotaDiv.style.display = 'block';
                        map.invalidateSize();
                        map.setView(waypoints[0], 13);
                        document.getElementById('map').style.display = 'block';
                    })
                    .catch(error => console.error('Erro ao visualizar rota:', error));
            };

            window.editarRota = function (id) {
                // Implementar função de editar rota
            };

            window.excluirRota = function (id) {
                if (confirm('Tem certeza que deseja excluir esta rota?')) {
                    fetch(`/api/rotas/${id}`, {
                        method: 'DELETE'
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Erro ao excluir rota.');
                            }
                            return response.json();
                        })
                        .then(data => {
                            alert(data.message);
                            fetchRotas();
                        })
                        .catch(error => console.error('Erro ao excluir rota:', error));
                }
            };
        });
    </script>
</body>

</html>